body {
  text-align:center;
  background-image: url("/Users/jiajiasu/Desktop/GA/HW/Tamagotchi-Mini-Project/background day.jpeg");
    }
#egg {
  /* position: relative; */
  width:30%;
  animation:mymove 3s infinite;
  }

ul{
  list-style-type: none;
}
#stats {
  text-decoration:underline;
  }
  /* @keyframes mymove {
    0% {
    left: 50%;
  }
  25% {
    left:0%;
  }
  50% {
    left:50%;
  }
  75% {
    left:100%;
  }
  100% {
    left:50%;
  }
  50% {
    left: 100%;
  }
   100% {
    left: 0;
  }
  }
  .container{
    outline:1px solid red;
    position: relative;
    width: 600px;
    margin:0 auto;
  } */
