body {
  background-image: url("/Users/jiajiasu/Desktop/GA/HW/Tamagotchi-Mini-Project/background day.jpeg")
  }
h1,h2,div{
  text-align:center;
}
#egg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul{
  list-style-type: none;
}
