body {
  text-align:center;
  background-image: url("/Users/jiajiasu/Desktop/GA/HW/Tamagotchi-Mini-Project/background day.jpeg");
    }
#egg {
  height: 50px;
    width: 50px;
    background: teal;
    border-radius: 50%;
    animation: move 3s infinite;
    position: relative;
  }

ul{
  list-style-type: none;
}
#stats {
  text-decoration:underline;
  }
  @keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 50px);
  }
  100% {
    left: 0;
  }
}
.container {
width: 50%;
margin: 0 auto;
}
